

.divAllStep1{
    padding-right: 80px; 
    padding-left: 80px;
    padding-top: 50px;

    width: 420px;
}

.h1AllStep1{
    margin: 0;
    color: hsl(213, 96%, 18%);
    padding-bottom: 10px;
}

.pAllStep1{
    margin: 0;
    padding-bottom: 45px;
    color:hsl(231, 11%, 63%);
}


.h5AllStep1{
    margin: 0;
    padding-bottom: 5px;
    color: hsl(213, 96%, 18%);
}


.inputAllStep1{
    font-size: 1.0vw;
    height: 45px;
    width: 400px;
    border-radius: 10px;
    border: 1px grey solid;
    padding-left: 15px;
    outline-color: hsl(280, 57%, 76%); 
}

.input1et2Step1{
    margin-bottom: 20px;
}