

.divThankYou{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-right: 80px; 
    padding-left: 80px;
    padding-top: 170px;

    width: 420px;
}


.imgThankYou{
    height: 70px;
}

.h1ThankYou{
    color: hsl(213, 96%, 18%);
}

.pThankYou{
    color:hsl(231, 11%, 63%);
}
