




.divAllStep2{
    /* background-color: red; */
    padding-right: 80px; 
    padding-left: 80px;
    padding-top: 50px;

    padding-bottom: 25px;  
}

.div1AllStep2{

}

.h1AllStep2{
    margin: 0;
    color: hsl(213, 96%, 18%);
}

.pAllStep2{
    margin: 0;
    padding-bottom: 45px;
    color:hsl(231, 11%, 63%);
}

.div2Step2{
    display: flex;
}

/* Mon bouton Month -- Year */

.divBtnMonthYear{
    display: flex;
    align-items: center; 
    flex-direction: row;
}

.divCercle{
    background-color: hsl(213, 96%, 18%);
    width: 4.3rem;
    height: 2.3rem;
    border-radius: 40px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div1Step2{
    background-color: hsl(204, 83%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Affichage conditionnel */
/* true */
.cercle{
    left: 0rem;

    background-color: white;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 80%;
    position: absolute;
    /* left: 2rem; // qui deviendra après */
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom:5px;
}

.PMonth{
    color:hsl(213, 96%, 18%);
    margin-right: 10px;
}

.pYear{
    color:rgb(142, 144, 150);
    margin-left: 10px;
}

/* Affichage conditionnel */
/* false */
.effetCercle{
    left: 2rem;

    background-color: white;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 80%;
    position: absolute;
    /* left: 2rem; // qui deviendra après */
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom:5px;
}
.effetPMonth{
    color:rgb(142, 144, 150);
    margin-right: 10px;
}
.effetPYear{
    color:hsl(213, 96%, 18%);
    margin-left: 10px;
}

