
body{
  height: 100vh;
  background-color: grey;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div1AllApp{
  display: flex;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
}

/* Btn step 1 */
.divBtnStep1App{
  text-align: end;
  padding-right: 80px; 
  padding-left: 80px;
  padding-top: 90px;
}

/* Btn step 2, 3 et 4 */
.divBtnStep234App{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px; 
  padding-left: 80px;
  padding-top: 90px;
}

/* modif pour le 3 */
.divBtnStep3App{
  padding-top: 58px; 
}

.couleur{
color: hsl(213, 96%, 18%);
color: hsl(243, 100%, 62%);
color: hsl(228, 100%, 84%);
color: hsl(206, 94%, 87%);
color: hsl(354, 84%, 57%);
color: hsl(231, 11%, 63%);
color: hsl(229, 24%, 87%);
/* color: hsl(217, 100%, 97%); utilsier */
color: hsl(231, 100%, 99%);
color: hsl(0, 0%, 100%);
}